@{
    ViewData["Title"] = "Lista Podzespołów";
}

<h2>Wybierz podzespoły które chcesz zobaczyć</h2>
<p>Lista dostępnych podzespołów:</p>

<a href="/Chlodzenies">Chłodzenia</a>
<a href="/DyskiTwardes">Dyski Twarde</a>
<a href="/KartyGraficznes">Karty Graficzne</a>
<a href="/Obudowies">Obudowy</a>
<a href="/PamieciRams">RAM-y</a>
<a href="/PlytyGlownes">Płyty Główne</a>
<a href="/Procesories">Procesory</a>
<a href="/Zasilaczes">Zasilacze</a>
