@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Składanie Komputera</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <img src="../Views/Home/1.png" alt="Background" class="background-img">
    <div class="header">
        <h1>Znajdź idealne podzespoły dla swojego komputera</h1>
        <p>Szybko i łatwo skonfiguruj swój wymarzony zestaw</p>
    </div>
    <div class="start-button">
        <a href="/Compatibility1"><button>Rozpocznij teraz</button></a> <!-- Link do podstrony -->
    </div>
    <div class="subheader">
        <h2>Skorzystaj z innych naszych funkcji</h2>
    </div>
    <div class="features">
        <div class="feature">
            <h3>Lista Podzespołów:</h3>
            <p>Funkcja umożliwia użytkownikom przeglądanie różnych komponentów komputerowych, takich jak procesory, RAM, karty graficzne, itp. w celu łatwego dodania elementów do zestawu komputerowego.</p>
            <a href="/Components">Sprawdź</a>
        </div>
        <div class="feature">
            <h3>Sprawdzanie Kompatybilności:</h3>
            <p>Narzędzie automatycznie weryfikuje, czy wybrane podzespoły są ze sobą kompatybilne, co zmniejsza ryzyko zakupu niekompatybilnych części.</p>
            <a href="/Compatibility">Sprawdź</a>
        </div>
        <div class="feature">
            <h3>Porównywanie:</h3>
            <p>Funkcja porównywania pozwala użytkownikom zestawić ze sobą różne podzespoły, aby lepiej zrozumieć różnice i podjąć świadomą decyzję na podstawie szczegółowych danych.</p>
            <a href="/Comparison">Sprawdź</a>
        </div>
        <div class="feature">
            <h3>Gotowe zestawy:</h3>
            <p>Użytkownicy mogą sprawdzać gotowe zestawy komputerowe, które zostały wcześniej zweryfikowane i są dostępne dla różnych typów użytkowników.</p>
            <a href="/GotoweZestawies">Sprawdź</a>
        </div>
    </div>
</body>
</html>
