<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BuildUCPU</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BuildUCPU.styles.css" asp-append-version="true" />
    <style>
        /* Ustawienia globalne */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        /* Tło strony */
        .background-image {
            position: absolute;
            top: 70px; /* Pozycja od góry */
            left: 0;
            width: 100%;
            height: 50vh;
            background-image: url('/images/1.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: -1;
        }

        .navbar {
            background-color: rgba(0, 86, 179, 1);
        }

        .navbar-brand {
            color: white;
            font-size: 42px;
            font-weight: bold;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
        }

        .navbar-nav {
            display: flex;
            justify-content: center; /* Centralizacja elementów w poziomie */
            align-items: center; /* Wyrównanie elementów w pionie */
            height: 100%; /* Dla wyrównania pionowego */
        }

            .navbar-nav .nav-item {
                text-align: center; /* Centralizacja tekstu wewnątrz elementu */
            }

        .nav-link {
            color: white !important;
            margin-right: 15px;
        }

        .nav-but1 {
            display: flex;
            flex-direction: column;
        }

            .nav-but1 .nav-link {
                background-color: rgba(253, 121, 0, 1);
                color: white;
                border: 1px solid #FD7900;
                border-radius: 20px; /* Zwiększenie promienia zaokrąglenia */
                padding: 10px 20px;
                margin: 5px 0;
                text-align: center;
                transition: background-color 0.3s, color 0.3s;
                width: 160px; /* Zwiększenie szerokości przycisku */
                display: inline-block; /* Zapewnienie, że szerokość i padding działają poprawnie */
            }

                .nav-but1 .nav-link:hover {
                    background-color: rgba(253, 121, 0, 0.8);
                    color: white;
                }

        /* Nowe style dla BuildU i CPU */
        .navbar-section {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .navbar-section .navbar-brand {
                margin-bottom: 0;
            }

        /* Ustawienia dla main i footer */
        .container {
            flex: 1; /* Zajmuje dostępne miejsce */
        }

        footer {
            position: relative;
            bottom: 0;
            width: 100%;
            padding: 30px 0; /* Dodaje pionowy margines wewnętrzny */
        }

        /* Nowy CSS dla ikon społecznościowych */
        .social-footer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            bottom: 10px;
            right: 10px;
        }

            .social-footer .social-item {
                display: flex;
                align-items: center;
                margin-bottom: -102px; /* Mniejszy margines między elementami */
            }

                .social-footer .social-item img {
                    width: 20px;
                    height: 20px;
                    margin-right: 20px; /* Mniejszy margines między ikoną a tekstem */
                    margin-bottom: 22px;
                }

                .social-footer .social-item span {
                    font-size: 0.9em; /* Zmniejsza czcionkę */
                    margin-bottom: 20px; /* Możesz dostosować margines, jeśli potrzebne */
                    color: white; /* Kolor tekstu dla social items */
                }

                .social-footer .social-item.last span {
                    color: orange; /* Kolor pomarańczowy dla "Nasze Sociale" */
                    font-size: 1.2em;
                }

                .social-footer .social-item:last-child {
                    margin-bottom: 41px;
                }
    </style>
</head>

<body class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "homepage" : "")">
    <!-- Tło strony -->
    @if (ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "Index")
    {
        <div class="background-image"></div>
    }

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom" style="min-width: 100%;">
            <div class="container-fluid">
                <!-- Nowa sekcja dla BuildU i CPU -->
                <div class="navbar-section">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BuildU</a>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CPU</a>
                </div>
                <!-- Przycisk do rozwijania -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item nav-item-margin">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item nav-item-margin">
                            <a class="nav-link" asp-area="" asp-controller="Components" asp-action="Index">Lista Podzespołów</a>
                        </li>
                        <li class="nav-item nav-item-margin">
                            <a class="nav-link" asp-area="" asp-controller="Compatibility" asp-action="Index">Kompatybilność</a>
                        </li>
                        <li class="nav-item nav-item-margin">
                            <a class="nav-link" asp-area="" asp-controller="Comparison" asp-action="Index">Porównanie</a>
                        </li>
                        <li class="nav-item nav-item-margin">
                            <a class="nav-link" asp-area="" asp-controller="GotoweZestawies" asp-action="Index">Gotowe Zestawy</a>
                        </li>
                        <li class="nav-but1">
                            <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">Kontakt</a>
                            <a class="nav-link" asp-area="" asp-controller="News" asp-action="Index">Nowosci</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="border-top footer text-muted">
        <div class="container">
            <a asp-area="" asp-controller="About" asp-action="Index">O nas</a>
            <a asp-area="" asp-controller="PrivacyPolicy" asp-action="Index">Polityka Prywatności</a>
            <a asp-area="" asp-controller="TermsOfService" asp-action="Index">Regulamin</a>
            <a asp-area="" asp-controller="Contact" asp-action="Index">Kontakt</a>
        </div>
        <!-- Sekcja ikon społecznościowych -->
        <div class="social-footer">
            <div class="social-item">
                <img src="/images/TikTok.png" alt="TikTok Icon">
                <span>TikTok</span>
            </div>
            <div class="social-item">
                <img src="/images/facebook.png" alt="Facebook Icon">
                <span>Facebook</span>
            </div>
            <div class="social-item">
                <img src="/images/instagram.png" alt="Instagram Icon">
                <span>Instagram</span>
            </div>
            <div class="social-item">
                <img src="/images/youtube.png" alt="YouTube Icon">
                <span>YouTube</span>
            </div>
            <div class="social-item last">
                <img src="/images/arrow.png" alt="Arrow Icon">
                <span>Nasze Sociale</span>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
